.survey { /* stylelint-disable */

}

/* */
.header {
  text-align: center;
  padding: 10px;
  font-size: 70px;
  color: #ffffff;
  background: #85c7f2;
}

.questions {
  margin-top: 50px;
}

.submitButton {
}
