#footer { /* stylelint-disable */
  border-top:1px solid #ccc;
  padding-top:30px;
  padding-bottom:30px;
  font-size:14px;
  text-align:center;
  color:#aaa;
  position: relative;
  width:100%;
  bottom:0;
  right: 0;
}
