.leftContent {
  background: red;
}
.surroundMessage {
  padding: 150px 100px 0 100px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.surroundMessage > span {
  font-size: 16px;
}
