.logo{
  margin-top:30px;
  display:inline-block;
  padding:5px;
  padding-left:14px;
  padding-right:14px;
  background-color:#85c7f2;
  font-size:48px;
  color:#fff;
}

.headerBg{
  box-shadow:0px 4px 4px rgba(0,0,0,.25);
}

.tagLine{
  margin-top:10px;
  color:rgba(0,0,0,.5);
  font-size:32px;
}

.fgShift{
  position:relative;
  top:-200px;
}

.content{
  white-space:pre-wrap;
  margin-top:100px;
  font-size:18px;
  color:#888;
  text-align:left;
}

.button{
  border-radius:4px;
}
