/**
 * styles.css
 *
 * App container styles
 */

.container {
  display: block;
  box-sizing: border-box;
}

html, body {
  font-family: 'Baloo Bhaina', cursive;
  font-size:24px;
  color: #636363;
  background-color: #fff;
}
